extends layout

block content
  h1= title

  form(id='groceriesForm', action="/resource/groceries", method="POST")
    div.form-group
      label.groceriesAttr(for='groceries_name') Groceries Name
      input#groceries_name(type='text', name='groceries_name', class="groceriesAttrInput")

    div.form-group
      label.groceriesAttr(for='groceries_quantity') Groceries Quantity
      input#groceries_quantity(type='text', name='groceries_quantity', class="groceriesAttrInput")

    div.form-group
      label.groceriesAttr(for='groceries_cost') Groceries Cost
      input#groceries_cost(type='number', name='groceries_cost', class="groceriesAttrInput")

    input(type="submit", class="groceriesAttrSubmit")

  script.
    document.forms['groceriesForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        // TODO handle the response body
      }).catch((error) => {
        // TODO handle the error
        alert("Save failed " + error);
      });
    });